// Common rules
@import "common.scss";

body {
  font-size: 90%;
}
.app-header {
  background: linear-gradient(90deg, var(--colorA) 10%, var(--colorB) 100%);

  .navbar-brand {
    width: 220px;
    opacity: 1;

    .logo-lg {
      height: 100%;
      margin: auto;
    }
    img {
      max-height: 35px;
      max-width: 100%;
      margin: 10px auto;
      filter: brightness(0) invert(1) opacity(0.9);
    }
  }

  .navbar-toggler {
    outline: none;
    filter: brightness(0) invert(1) opacity(0.6);

    &:hover {
      filter: brightness(0) invert(1) opacity(0.8);
    }
  }
}
.app-footer {
  display: none;
}
.app-body {
  .sidebar {
    background: var(--colorA) !important;

    .header {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      padding: 15px 0 0 10px;
      color: rgba(255, 255, 255, 0.2) !important;
      letter-spacing: 0.4px;
    }

    .nav {
      li.mobile {
        display: none;
      }
    }

    &.sidebar-pills {
      .nav-link {
        color: rgba(255, 255, 255, 0.65) !important;
      }
      .nav-link.active,
      .nav-link:hover {
        color: #fff !important;
      }
      .nav-link.active .nav-icon,
      .nav-link:hover .nav-icon {
        color: rgba(255, 255, 255, 0.65) !important;
      }
      .nav-dropdown.open .nav-link.nav-dropdown-toggle {
        font-weight: 400;
      }
    }
  }
  .navbar-filters {
    background-color: #fafafa;
    border: 1px solid #dce1e9;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    & > .nav-item {
      margin: 8px 0;
    }
  }
}
.btn-primary,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: var(--colorA) !important;
  border-color: var(--colorA) !important;
}

table {
  .btn-sm {
    background-color: #efefef;
    border: 1px solid #d3d3d3;
    color: #333;
    padding: 0.05rem 0.3rem;
    font-size: 0.8rem;
    margin-right: 4px;

    &:hover {
      background-color: #f6f6f6;
    }

    &:focus {
      outline: none;
    }
  }
  .btn-group {
    margin-right: 5px;

    .btn-sm {
      margin-right: 0;

      &:first-child {
        padding-right: 4px !important;
      }
    }
  }
  .dropdown-toggle {
    cursor: pointer;

    &:after {
      color: #333;
      margin: 0 0.1em;
    }
  }
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.05);
}

.form-quote {
  border-left: 1px solid #e7e8ea;
  margin-left: 2rem;
  max-width: calc(100% - 4rem);
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

label.separator {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
  font-size: 0.85rem;
}

.menu-disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .app-header {
    .navbar-toggler {
      margin-right: 0 !important;
    }
    .navbar-brand {
      position: relative;
      left: 0;
      margin-left: 0;
      width: initial;
    }
  }
}

@media (max-width: 480px) {
  .app-header {
    .navbar-brand {
      display: none;
    }
  }

  .app-body {
    .sidebar {
      .nav {
        li.mobile {
          display: block;
        }
      }
    }
  }
}
